@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@100;400&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Good practices for ordering styles:
1. Position
2. Box model
3. Typography
4. Visuals
5. Others */

/* Use BEM as an architecture metod for naming
https://intelygenz.medium.com/how-to-organize-your-css-with-oocss-bem-smacss-a2317fa083a7 */

/* https://en.bem.info/methodology/naming-convention/ */

/* Use REM in order to avoid troubles with screens of differents sizes */

:root {
    --yellow: #FFBA08;
    --orange: #F48C06;
    --red: #DC2F02;
    --gray1: #797878;
    /* --gray2: #333333; */
    --gray2: #282623;
    /* --black: #121212; */
    --black: #201E1C
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background-color: var(--black);
    color: var(--gray1);
}

.timescaleS-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32% 16% 36% 16%;
    height: 85vh;
    margin: 5vh 8vh;
}

.timescale-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
}

.timescale__corner-left {
    display: grid;
    align-content: space-around;
    justify-content: center;
    position: relative;
    right: 3.6rem;
    grid-column-start: 2;
    grid-row: 2 / 3;
    width: 36px;
    height: 100%;
    border-radius: 32px 0 0 32px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.16);
}

.timescale__corner-left p {
    rotate: -90deg;
    width: 9rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    z-index: 2;
}

.timescale__corner-right {
    display: grid;
    align-content: space-around;
    justify-content: center;
    grid-column: 3;
    grid-row: 2 / 3;
    width: 36px;
    height: 100%;
    border-radius: 0 32px 32px 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
    z-index: 2;
}

.timescale__corner-right p {
    rotate: -90deg;
    width: 9rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.grayColor {
    background: var(--gray2);
}

.grayColor p {
    color: var(--gray1);
}

.yellowColor {
    background: var(--yellow);
}

.orangeColor {
    background: var(--orange);
}

.redColor {
    background: var(--red);
}

.timescale__info {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 10% 20% 40% 5% 25%;
    width: 100%;
    background: var(--gray2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.timescale__milestone {
    display: grid;
    grid-row: 1 / 2;
    grid-template-rows: 85% 15%;
    align-items: flex-end;
    justify-items: flex-end;
    border-right: 2.5px dashed var(--gray1);
}

.timescale__milestone-text-year {
    position: relative;
    rotate: -90deg;
    bottom: 1.8rem;
    right: -1.5rem;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.2rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.timescale__milestone-percent {
    margin: 0 0.5rem 0.5rem 0;
    font-size: 1.4rem;
}

.final-milestone {
    display: none;
}

.connection-right {
    grid-column: 3;
    grid-row: 2 / 4;
    margin-top: 65%;
    z-index: 0;
    width: 50%;
    border-top: 6px dotted var(--yellow);
    border-right: 6px dotted var(--yellow);
    border-bottom: 6px dotted var(--yellow);
    border-radius: 0 2.4rem 2.4rem 0;
}

.connection-bottom {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 100%;
    border-bottom: 6px dotted var(--yellow);
}

/* Haven´t solve the connection between the bottom line and the left connector as I´ll expect*/

/* option1 */
.connection-left {
    margin-left: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-bottom: 35%;
    width: 50%;
    margin-top: -6px;
    border-top: 6px dotted var(--yellow) ;
    border-left: 6px dotted var(--yellow);
    border-bottom: 6px dotted var(--yellow);
    border-radius: 2.4rem 0 0 2.4rem;
}

/* option2 */
/* .connection-left {
    margin-left: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-bottom: 45%;
    width: 50%;
    border-radius: 1.6rem 0 0 1.6rem;
    outline: 6px dotted var(--yellow);
} */

.connection-right-border-orange {
    border-right:6px dotted var(--orange);
    border-top:6px dotted var(--orange);
    border-bottom:6px dotted var(--orange);
}

.border-bottom-orange {
    border-bottom:6px dotted var(--orange);
}

.connection-left-border-orange {
    border-left:6px dotted var(--orange);
    border-top:6px dotted var(--orange);
    border-bottom:6px dotted var(--orange);
}

.connection-right-border-red {
    border-right:6px dotted var(--red);
    border-top:6px dotted var(--red);
    border-bottom:6px dotted var(--red);
}

.connection-bottom-border-red {
    border-bottom:6px dotted var(--red);
}

.connection-left-border-red {
    border-left:6px dotted var(--red);
    border-top:6px dotted var(--red);
    border-bottom:6px dotted var(--red);
}