@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@100;400&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Good practices for ordering styles:
1. Position
2. Box model
3. Typography
4. Visuals
5. Others */

/* Use BEM as an architecture metod for naming
https://intelygenz.medium.com/how-to-organize-your-css-with-oocss-bem-smacss-a2317fa083a7 */

/* https://en.bem.info/methodology/naming-convention/ */

/* Use REM in order to avoid troubles with screens of differents sizes */

:root {
    --yellow: #FFBA08;
    --orange: #F48C06;
    --red: #DC2F02;
    --gray1: #797878;
    --gray2: #333333;
    --black: #121212
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background-color: var(--black);
    color: var(--gray1);
}

.timescales-container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 4fr;  */
    /* grid-template-rows: 10rem 20rem 40rem 5rem; */
    grid-template-rows: 32% 16% 36% 16%;
    /* grid-template: 1 / 4; */

    height: 90vh;
    margin: 5vh 8vh;
}

.timescale {
    display: flex;
    justify-content: space-between;
    /* flex-grow: 2; */
    margin: 2rem 8rem;
}

.timescale__corner-left {
    width: 36px;
    height: 100%;
    border-radius: 32px 0 0 32px;
}

.timescale__corner-right {
    width: 36px;
    height: 100%;
    border-radius: 0 32px 32px 0;
}

.grayColor {
    background: var(--gray2);
}

.yellowColor {
    background: var(--yellow);
}

.orangeColor {
    background: var(--orange);
}

.redColor {
    background: var(--red);
}

.timescale__info {
    display: grid;
    grid-template-columns: 10% 20% 40% 5% 25%;
    align-items: flex-end;
    justify-items: end;
    width: 100%;
    background: var(--gray2);
}

.timescale__milestone {
    display: grid;
    grid-template-rows: 85% 15%;
    border-right: 2.5px dashed var(--gray1);
    height: 100%;
    align-items: flex-end;
    justify-items: flex-end;
}

.timescale__milestone-text-year {
    display: grid;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    justify-items: flex-start;
    margin: 1rem 1rem;
    height: 10rem;
    font-size: 1.2rem;
}

.timescale__milestone-percent {
    font-size: 1.6rem;
    margin: 0 1rem 1rem 0;
}

